{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'icl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Instructions" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p>
            {% blocktrans trimmed with p_hi=p_hi hi=hi p_lo=p_lo lo=lo %}
                In the following, you can choose between a sure payment and a lottery.
                The lottery gives you a {{ p_hi }} chance of receiving {{ hi }}
                and a {{ p_lo }} chance of receiving {{ lo }}.
            {% endblocktrans %}
            {% blocktrans trimmed with n=Constants.num_choices %}
                We will present to you {{ n }} different choices.
                While the lottery is the same in all choices,
                the sure payment will differ in every choice.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with n=Constants.num_choices %}
                After completing all {{ n }} choices, one of the choices will be randomly picked to determine your
                payoff. If you chose the lottery, a random draw will determine whether the high or low outcome will
                constitute your payoff; otherwise, the sure payment will constitute your payoff.
            {% endblocktrans %}
        </p>
    </div>

    {% next_button %}
{% endblock %}